body {
    background-image: url(./images/Munroe-Island.jpg);
    background-size: cover;
    height: 100vh;
}
form {
    height: 5%;
    width: 30%;
    margin-left: 36%;
    padding-top: 20px;
}