h2{
    text-align: center;
    text-decoration: underline;
    color: pink;
}
body{
    background-image: url(./images/malappuram.jpg);
    background-size: cover;
}
p{
    color: pink ;
    background-color: black;
}