h2{
    text-align: center;
    text-decoration: underline;
}
body{
    background-image: url(./images/pathanam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
p {
    color: #0e0d11;
}